<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="ParticleSystem.js"></script>
  <title>粒子系统demo</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    canvas {
      display: block;
      background-color: #000;
    }

    #app {
      position: fixed;

      top: 20px;
      right: 20px;

    }

    .form {
      width: 1000px;
    }
  </style>
</head>

<body>
  <canvas id="canvas"></canvas>
  <div id="app">

    <el-form ref="form" label-width="200px" inline class="form">
      <el-form-item label="纵向加速度">
        <el-input-number v-model="config.gravity.y" :min="0" label="描述文字"></el-input-number>
      </el-form-item>
      <el-form-item label="横向加速度">
        <el-input-number v-model="config.gravity.x" :min="0" label="描述文字"></el-input-number>
      </el-form-item>

      <el-form-item label="发射位置x">
        <el-input-number v-model="config.emitterX" :min="0" label="描述文字"></el-input-number>
      </el-form-item>
      <el-form-item label="发射位置x浮动">
        <el-input-number v-model="config.emitterXVariance" :min="0" label="描述文字"></el-input-number>
      </el-form-item>

      <el-form-item label="发射位置y">
        <el-input-number v-model="config.emitterY" :min="0" label="描述文字"></el-input-number>
      </el-form-item>
      <el-form-item label="发射位置y浮动">
        <el-input-number v-model="config.emitterYVariance" :min="0" label="描述文字"></el-input-number>
      </el-form-item>

      <el-form-item label="发射速度">
        <el-input-number v-model="config.speed" :min="0" label="描述文字"></el-input-number>
      </el-form-item>
      <el-form-item label="发射角度">
        <el-input-number v-model="config.angle" :min="0" label="描述文字"></el-input-number>
      </el-form-item>
      <el-form-item label="发射角度浮动">
        <el-input-number v-model="config.angleVariance" :min="0" label="描述文字"></el-input-number>
      </el-form-item>

      <el-form-item label="最大粒子数">
        <el-input-number v-model="config.maxParticles" :min="0" label="描述文字"></el-input-number>
      </el-form-item>
      <el-form-item label="结束旋转角度">
        <el-input-number v-model="config.endRotation" :min="0" label="描述文字"></el-input-number>
      </el-form-item>
      <el-form-item label="旋转角度浮动">
        <el-input-number v-model="config.endRotationVariance" :min="0" label="描述文字"></el-input-number>
      </el-form-item>

      <el-form-item label="开始大小">
        <el-input-number v-model="config.startSize" :min="0" label="描述文字"></el-input-number>
      </el-form-item>
      <el-form-item label="开始大小浮动">
        <el-input-number v-model="config.startSizeVariance" :min="0" label="描述文字"></el-input-number>
      </el-form-item>
      <el-form-item label="生命周期">
        <el-input-number v-model="config.lifespan" :min="0" label="描述文字"></el-input-number>
      </el-form-item>
      <el-button @click="exportConfig">导出配置</el-button>
    </el-form>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        config: {
          gravity: {
            x: 10,
            y: 100
          },
          emitterX: 200,
          emitterY: 0,
          emitterXVariance: 200,
          emitterYVariance: 0,
          maxParticles: 100,
          endRotation: Math.PI * 2,
          endRotationVariance: Math.PI,
          speed: 50,
          angle: Math.PI / 2,
          angleVariance: Math.PI / 2,
          startSize: 15,
          startSizeVariance: 5,
          lifespan: 5000
        }
      },
      mounted() {
        let canvas = document.querySelector('canvas');
        let ctx = canvas.getContext('2d');

        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;

        let img = new Image()
        img.onload = () => {

          // 初始化粒子系统
          let particle = this.particle = new ParticleSystem(
            img, {
              width: img.width,
              height: img.height
            },
            this.config,
            ctx
          )

          // 开始
          particle.start();

          canvas.addEventListener('click', (e) => {
            this.config = {
              ...this.config,
              emitterX: e.clientX - this.config.emitterXVariance / 2,
              emitterY: e.clientY
            }
          })

        };

        img.src = './newParticle.png';
      },
      methods: {
        exportConfig () {
          this.$alert(JSON.stringify(this.config, null, '\n'), '配置', {
            confirmButtonText: '确定',
          })
        }
      },
      watch: {
        config: {
          deep: true,
          handler (newValue) {
            // 改变参数
            this.particle.changeConfig(newValue)
          }
        }
        
      }
    })
  </script>

</body>

</html>